.ui.vertical.center.aligned.segment {
    background-color: rgba(255, 255, 255, 0.2);
}

/* bio */
.ui.cards {
    margin-top: .1em;
}
.ui.cards>.card {
    font-size: 0;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow:0 0 0 !important;
}
.ui.cards>.card>.image{
    border-radius: 0 !important;
}

.menu .item.logo {
    background-size: contain;
    background-position: center;
    width: 2.5em;
    height: 2.5em;
    background-repeat: no-repeat;
    background-image: url(../img/h.png);
}
.menu .item.logo:hover {
    background-image: url(../img/h-a.png) !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/** index */
#background {
    width: 100%;
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
    position: absolute;
    top: 0px;
    z-index: -1;
    /*background-image: url(https://www.travelodge.ie/wp-content/uploads/2015/02/rock-concert-shutterstock_214402045-Medium.jpg);*/
    background-position: center;
    background-size: cover;
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;
}

.grow {
    height: 105% !important;
    width: 105% !important;
    margin-left: -2.5% !important;
    margin-top: -2.5% !important;
}

.bg-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.bg-wrapper *{
    border-radius: 0 !important;
}

/* tvorba */

figure {
    cursor: pointer;
}

.gallery .preview {
    border-radius: 100%;
    background-position: center;
    background-position: 50% 50%;
    background-size: cover;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    margin: 0;
}


.galleria {
    width: 100%;
    height: 80vh;
    background: transparent
}

.galleria-theme-classic {
    background-color: transparent;
}
